<p id="notice"><%= notice %></p>

<h1>User Comments</h1>
<hr>
<h2>Add New Comment</h2>

<%= render 'form', user_comment: @user_comment %>

<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tbody id='user_comments'>
    <%= render 'user_comments', user_comments: @user_comments %>

  </tbody>
</table>
